body {
    background-image: url("https://i.pinimg.com/originals/36/10/06/3610062ed612bf558fc08ed252fe6241.jpg");
    background-repeat: repeat;
    font-family: 'Abril Fatface', cursive;
    font-size: 36px;
}